body{
    background-color: #E9FFF9;
}

#head-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120vmin;
}

h1 {
    font-size: 7vmin
}

#currency {
    width: 20vmin;
    height: 7vmin;
    border-radius: 0;
    border: black solid 1px;
    outline: none;
    font-size: 3vmin;
    background-color: #D9D9D9;
}

.doneer-hoeveelheid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 5vmin;
    width: 82%;
    margin: auto;

}

.doneer-hoeveelheid input {
    width: 100%;
    height: 15vmin;
    border-radius: 0;
    font-size: 5vmin;
    border: black solid 1px;
    background-color: #D9D9D9;


}

.doneer-hoeveelheid div {
    display: flex;
    grid-column: span 2;
}

#poepende-mensen {
    width: 20%;
    height: auto;
}

#schijtende-mensen {
    background-color: #D9D9D9;
}

#kies-betaal{
    font-weight: 600;
    font-size: 3vmin;
    margin: 0;
}
#lock-logo{
    width: 5vmin;
    height: auto;
    margin-right: 2vmin;
}

#veilig-betalen{
    display: flex;
    align-items: center;
    font-size: 2vmin;
}

#betalen-text{
    margin-left: 19.5vmin;
}

#paypal-button{
    width: 45%;
    height: 10vmin;
    border-radius: 1vmin;
    color: white;
    outline: none;
    font-size: 3vmin;
    background-color: #425ADB; 
    cursor: pointer;
    font-style: italic;
 
}

#paypal-button svg{
    width: 20vmin;
    height: auto;
    margin-right: 2vmin;
}

#ideal-button{
    width: 45%;
    height: 10vmin;
    border-radius: 1vmin;
    color: white;
    outline: none;
    font-size: 3vmin;
    background-color: #EF3E5E;  
    cursor: pointer;
    font-style: italic;

}

#ideal-button svg{
    width: 10vmin;
    height: auto;
    margin-right: 2vmin;
}

#betaal-buttons{
    padding-top: 2vmin;
    display: flex;
    justify-content: space-between;
    margin-right: 19.5vmin;
}

#info-text{
    margin-right: 19.5vmin;
}

#obama-image{
    width: 90%;
    height: 60vmin;
    object-fit: cover;
}