* {
    font-family: 'Inter', sans-serif;
}

.header {
    padding: 3vmin;
    display: flex;
    justify-content: space-between;
    height: 25vmin;
    align-items: center;
}

.logo-text {
    height: auto;
    display: flex;
    height: 25vmin;
    width: 100%;
}

#logo-img {
    width: auto;
    height: auto;
    border-radius: 1vmin;
}

.header div h1 {
    align-self: center;
    font-size: 8vmin;
    padding-left: 3vmin;
}

#patreon-logo {
    width: 15vmin;
    height: 15vmin;
    align-self: center;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    padding-top: 3%;

}

ul li a {
    color: #889AB4;
    transition: 0.3s;
}

ul li a:hover {
    color: #4F5B66;
}

ul li.active a {
    color: red;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    #menu-items {
        display: none;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    ul {
        flex-direction: column;
    }
}

#menu-items.show {
    opacity: 1;
    display: flex;
    transform: translateX(0);
}