header {
    text-align: start;
    padding: 1%;
}

h1 {
    text-align: center;
}

img {
    border-radius: 10px;
    height: 80px;
    float: left;
}

form {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
}

input {
    background-color: rgb(227, 214, 214);
}