body{
    background-color: #e9fff9    ;
}

.title{
    font-size: 7vmin;
    padding-left: 5vmin;
}

.card{
    width: 100%;
    background-color: #d8f2eb;
    border-radius: 2vmin;
    box-shadow: 0 0 2vmin rgba(0,0,0,0.1);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 2vmin rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 50vmin;
    object-fit: cover;
    border-radius: 2vmin;
}


.card-padding{
    padding: 5vmin;
}

.card-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5vmin;
    gap: 2vmin;
}

a{
    text-decoration: none;
    color: #d84444;
}

@media (max-width: 1000px) {
    .card-holder {
      grid-template-columns: 1fr;
    }
  }

